* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-size: inherit;
  font-weight: 400px;
}

input,
button {
  font-family: "Roboto", sans-serif;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 22px;
  width: 22px;
  background: url(../img/x.png) no-repeat center center/cover;
  transition: 0.3s;
}

::-webkit-input-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 13px 14px;
}

.search {
  margin-top: 31px;
}

.search label {
  font-family: "Comfortaa", cursive;
  font-size: 36px;
}

input {
  width: 100%;
  height: 52px;
  padding: 17px;
  font-size: 15px;
  border: 2px solid #000;
  outline: none;
}

.search input {
  margin-top: 32px;
}

:focus::-webkit-input-placeholder {
  color: transparent
}

:focus::-moz-placeholder {
  color: transparent
}

.text-results {
  margin-top: 30px;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
}

.img-content {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img {
  margin-bottom: 11px;
}

button {
  margin-top: 21px;
  cursor: pointer;
  background: none;
  width: 100%;
  height: 52px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  outline: none;
  transition: box-shadow 0.7s;
}

button:hover {
  box-shadow: 0px 15px 17px 3px rgba(0, 0, 0, 0.2);
}


@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  .img {
    width: 350px;
    height: auto;
    margin-bottom: 34px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
  .img {
    width: 276px;
    height: auto;
    margin-bottom: 45px;
  }
}